torch
transformers
scikit-learn
pandas
langchain
langchain-text-splitters
langchain-community
langchain-openai
langchain-chroma
langgraph
pypdf
chromadb
python-dotenv
tiktoken
openpyxl
pandas
pdfplumber
evaluate
sentence_transformers
bert-score
